.faq-div {
  height: 700px;
  //   background: url("../../assets/images/landing.webp");
  background: url("../../assets/images/landing4.jpg");
  margin-top: -800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
