footer {
  background: #def2fa;
  //   padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 190px;
  img {
    margin-top: -100px;
  }
  a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
  }
}
.media-links {
  ul li {
    font-size: 20px !important;
  }
}
