.home-div {
  height: 700px;
  //   background: url("../../assets/images/landing.webp");
  background: url("../../assets/images/landing4.jpg");
  margin-top: -800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.about-div {
  margin-top: 100px;
}

.sponsors-div {
  margin-top: 80px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: rgb(221, 221, 221);
  .sponsors {
    padding-top: 20px;
    margin-top: 45px;
    height: 200px;
    background: #fff;
    background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%)
        var(--_p, 100%) / 300% no-repeat,
      #fff;
    transform: perspective(500px) rotateY(calc(20deg * var(--_i, -1)));
    text-shadow: calc(var(--_i, -1) * 0.08em) -0.01em 0 var(--c),
      calc(var(--_i, -1) * -0.08em) 0.01em 2px #0004;
    outline-offset: 0.1em;
    &:hover {
      --_p: 0%;
      --_i: 1;
    }
  }
}
