.global-menu__item.is-opened:nth-of-type(3) {
  transition-delay: 0.75s;
}
.global-menu__item.is-opened {
  opacity: 1;
  transform: translateY(0) rotate(0);
  pointer-events: auto;
  transition-timing-function: ease;
}
.global-menu__item:hover {
  color: var(--theme-bg);
}
.global-menu__item {
  color: var(--color-menu);
  font-size: 1.7em;
  opacity: 0;
  transform: translateY(-100%);
  pointer-events: none;
  display: block;
  margin: 0.3em 0;
  transition: transform 0.3s, opacity 0.3s;
  transition-timing-function: ease-in;
  font-weight: bold;
}
:active,
:focus {
  outline: none !important;
}
a {
  text-decoration: none !important;
  color: #40586b;
}
