.contact-div {
  height: 600px;
  //   background: url("../../assets/images/landing.webp");
  background: url("../../assets/images/landing.webp");
  margin-top: -800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
