.dash-container {
  padding: 10px;
  border-left: solid 1px #e7e7e7;
}
.dash-nav {
  height: 700px;
  background: red;
}
.dash-div {
  .stats {
    border: solid 1px #e7e7e7;
    height: 140px;
    border-radius: 20px;
    padding: 20px;
  }
}
.admin-top {
  background: #4c6ef8;
  height: 250px;
}
