.registration-div {
  height: 600px;
  //   background: url("../../assets/images/landing.webp");
  background: url("../../assets/images/landing.webp");
  margin-top: -800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.registration-form {
  margin-top: 80px;
  background: url("../../assets/images/bg.jpeg");
  //   margin-top: -800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  //   height: 600px;
  padding-top: 50px;
  padding-bottom: 50px;
  form {
    background: #fff;
    padding: 40px 50px;
    border-radius: 10px;
    border: solid 10px #7bd6f5;
    box-shadow: 0 0 15px 15px #8a795e;
    h2 {
      margin-top: 40px;
    }
    input {
      width: 100%;
      padding: 5px 20px;
      border: solid 1px rgb(211, 209, 209);
      border-radius: 5px;
      font-family: SoraSB;
    }
    small {
      font-size: 8px;
    }
    h6 {
      margin-bottom: 0;
      margin-top: 40px;
    }
  }
  select {
    width: 100%;
    padding: 5px 20px;
    border: solid 1px rgb(211, 209, 209);
    border-radius: 5px;
    font-family: SoraSB;
  }
}
